<h1>Bonjour !</h1>

<p>Pour reinitialiser votre mot de passe, veuillez cliquer sur le lien ci dessous</p>

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpa1.narvii.com%2F6126%2Fe0233dd8125d17dcf5ad9b9a9130afcb442772d9_hq.gif&f=1&nofb=1"/>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien va expirer dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

