<h1>Hi!</h1>

<p>To reset your password, please visit the following link</p>

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpa1.narvii.com%2F6126%2Fe0233dd8125d17dcf5ad9b9a9130afcb442772d9_hq.gif&f=1&nofb=1"></img>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cheers!</p>
