{% extends 'base.html.twig' %}

{% block title %}Créer un évènement{% endblock %}

{% block body %}
    {% if app.user %}
        <section class="col-md-10 mx-auto py-5 my-5 text-center">
            <h1>Créer</h1>
        </section>
    {% else %}
        <main class="col-md-10 mx-auto py-5 my-5 text-center">
            <h1>Accueil</h1>
        </main>
    {% endif %}
{% endblock %}
