{% extends 'base.html.twig' %}

{% block title %}Créer un évènement{% endblock %}

{% block body %}
	<section class="col-md-10 mx-auto py-5 my-5 text-center">
		{{ form(form) }}
	</section>
{% endblock %}
