{% extends 'base.html.twig' %}
{% block body %}
	<h2 class="mb-5 text-center">Modifier un type d'événement</h2>
    <div class="col-sm-7 col-md-5 col-lg-3 mx-auto">
        {{ form_start(type_form) }}
			<div class="mb-5">
				<p class="mt-3 mb-1">Nom du type d'événement<span class="text-danger">*</span></p>{{ form_widget(type_form.nom) }}
			</div>
			<div class="text-center">
				{{ form_widget(type_form.valider, {'attr': {'class': 'bg-success text-light col-4'}}) }}
        </div>
        {{ form_end(type_form) }}
    </div>
	<style>
		/* footer */

		.container-fluid {
			overflow: hidden;
			background: #000000;
			color: #989c9e;
			margin-bottom: 0;
			padding-bottom: 0;
		}

		footer{
			line-height: 1.25;
		}

		.bold-text {
			color: white;
		}

		.lien{
			color: #989c9e;
		}
		.lien:hover{
			color: #b7bcbf;
			text-decoration: none;
		}
	</style>
{% endblock %}