{% extends 'admin/index.html.twig' %}
{% block body %}
    {# category form #}

    <div class="col-lg-6 mb-5">
        <h2 class="mb-5 text-center">Ajouter une categorie d'événement</h2>
        {{ form_start(category_form) }}
        <div class="col-md-7 mx-auto mb-5">
            <p class="mt-3 mb-1">Libelle de la catégorie<span class="text-danger">*</span></p>{{ form_widget(category_form.libelle) }}
        </div>
        <div class="text-center">
            {{ form_widget(category_form.valider, {'attr': {'class': 'bg-success text-light col-2'}}) }}
        </div>
        {{ form_end(category_form) }}
    </div>
{% endblock %}