<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
		<link rel="stylesheet" href="css/base.css"/>
		<link rel="shortcut icon" type="image/jpg" href="https://www.lycee-stvincent.fr/themes/saint_vincent/images/logo.png"/>
		{% block stylesheets %}{% endblock %}
    </head>
    <body>

		<!-- header -->

        {% block navigation %}
            <nav class="navbar navbar-expand-lg navbar-dark mb-5 menu" style="background-color: #1E2A47;">

				<!-- partie gauche du header -->

				<ul class="navbar-nav mr-auto">
					<span class="navbar-brand"><img src="https://www.lycee-stvincent.fr/themes/saint_vincent/images/logo.png" class="col-9"/></span>
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('home') }}">ACCUEIL <span class="sr-only">(current)</span></a>
					</li>
				</ul>

				<!-- partie gauche du header -->

				<ul class="navbar-nav ml-auto">

				<!-- si nous sommes connectés -->

				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href={{ path('app_login') }}>
							<i class="fas fa-user-circle"></i>
							MON PROFIL
							<span class="sr-only">(current)</span>
						</a>
					</li>
				{% endif %}

				<!-- si nous sommes connectés et non sur la page de connexion -->
				
				{% if not app.user and app.request.attributes.get('_route') != 'app_login' %}
					<li class="nav-item">
						<a href={{ path('app_login') }} class="text-light">Se connecter</a>
						<span class="sr-only">(current)</span>
					</li>
				{% endif %}
				</ul>
            </nav>
        {% endblock %}

		<!-- body -->

        {% block body %}{% endblock %}

		<!-- footer -->

        {% block footer %}
            <div class="container-fluid justify-content-center">
                <footer class="mt-5">
                    <div class="row justify-content-center py-5">
                        <div class="col-11">
                            <div class="row ">
                                <div class="col-xl-3 col-md-4 col-sm-4 col-12">
                                    <h6 class="mb-3 mb-lg-4 bold-text"><b>Association Sportive Saint-Vincent</b></h6>
                                    <ul class="list-unstyled">
                                        <a href="https://www.google.com/maps/place/30+Rue+de+Meaux,+60300+Senlis/@49.2033253,2.586623,17z/data=!3m1!4b1!4m5!3m4!1s0x47e630cfeb2920b7:0x78f086fdbfe62393!8m2!3d49.2033253!4d2.5888117" class="lien" target="_blank">
                                            <li>30 rue de Meaux,</li>
                                            <li>60300 Senlis</li>
                                        </a>
                                    </ul>
                                    <h6 class="bold-text"><b>Association Saint-Vincent</b></h6>
                                    <ul class="list-unstyled">
                                        <li><a href="https://www.lycee-stvincent.fr/" class="lien" target="_blank">https://www.lycee-stvincent.fr/</a></li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-4 col-sm-4 col-12">
                                    <h6 class="mb-3 mb-lg-4 bold-text"><b>Nous Contacter</b></h6>
                                    <ul class="list-unstyled">
                                        <li>Tél: 03 66 66 66 66</li>
                                        <li>Fax: 03 66 66 66 66</li>
                                        <li>Email: <a href="mailto:contact@lyceestvincent.fr" class="lien">contact@lyceestvincent.fr</a></li>
                                        <li>Web: <a href="https://asso-sport.lycestvincent.fr" class="lien" target="_blank">https://asso-sport.lycestvincent.fr</a></li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-4 col-sm-4 col-12">
                                    <h6 class="mb-3 mb-lg-4 bold-text"><b>Acces Rapide</b></h6>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ path('app_login') }}" class="lien">>Accueil</a></li>
                                        <li><a href="#" class="lien">>Actualités</a></li>
                                        <li><a href="#" class="lien">>Événements</a></li>
                                        <li><a href="#" class="lien">>Contact</a></li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-4 col-sm-4 col-12">
                                    <h6 class="mb-3 mb-lg-4 bold-text"><b>Suivez-Nous</b></h6>
                                    <div>
                                        <a href="#" class="lien" target=""><i class="fab fa-twitter-square fa-2x mr-1"></i></a>
                                        <a href="https://www.facebook.com/pages/Lyc%C3%A9e%20St%20Vincent/119093664776002/" class="lien" target="_blank"><i class="fab fa-facebook-square fa-2x ml-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        {% endblock %}

		<!-- scripts -->

        {% block javascripts %}{% endblock %}
    </body>
</html>
